$def with (clkrq,colordic)


<!-- Problem statement -->

<div class="container">
  <div class="row">
    <div class="col-xs-12"><!--Question Statement-->
      $:clkrq.getQuestion()
    </div>
  </div>
<!--/div-->

<!-- Answer choices-->

  <div class="row">
    <form>
      $for ans in clkrq.getChoices():
           <div class="container"><div class="rounded col-sm-6" id="box$ans" style="background-color: $colordic[ans]"> $:clkrq.getChoiceDict()[ans]</div></div>


      </div>
    </form>
    
  </div>
</div>
