$def with (mathjax,body,qnumber,length,state)
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Question $qnumber of $length</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    $:mathjax

    <link href="/static/question.css" rel="stylesheet">
    <script type="text/javascript">var state="initial"; </script>
    <script src="/static/control.js"></script>
    <script src="/static/ask.js"></script>

    <script><!-- Set up syync --> 
      var state="$state";
      var page="$qnumber";
      var initstate="$state";
      syncState();
    </script>

    
  </head>
  
  <body><!-- need the dolar colon thing!-->
    <div class="container">
      <h2>Question $qnumber of $length</h2>
    </div>
    $:body
    <div class="container">
      <div class="row" align="center">

	  
	  $if state == "open" or state =="ultimatum":
               <form method="get">
               <button type="submit" name="action" value="scores">See responses</button>
	       <button type="submit" name="action" value="answers">See correct</button>
	       <button type="submit" name="action" value="closed">Close</button>
	       <br>
	       </form>
	       <button onclick="setTimer('60')">60 second timer</button>
	       <button onclick="setTimer('30')">30 second timer</button>
	       
	  $elif state == "init":
               <form method="get">
	       <button type="submit" name="action" value="open"><h2>Open</h2></button>
	       <button type="submit" name="action" value="next">Skip</button>
	       </form>
	  $else:
	       <form method="get">
	       <button type="submit" name="action" value="scores">See responses</button>
	       <button type="submit" name="action" value="answers">See correct</button>
	       <button type="submit" name="action" value="showResp">Show Responses</button>
	       <button type="submit" name="action" value="showAns">Show Correct</button>

	       <button type="submit" name="action" value="next">Next question</button>
	       </form>
      </div>
      <div class="row">
	<a href="/clearPass/">Reset student passwords</a>
      </div>
      <div class="status" id="message"></div>
  </body>
</html>
