$def with (mathjax,quizID,qresults,qlist)
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>$quizID</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    $:mathjax
    <link href="/static/assemble.css" rel="stylesheet">

  </head>
  <body>
 <topper class = "topper">
   <div class="container">
    
     <form method="POST">
        <h3>$quizID <button type="submit" formaction="/assign/?quiz=$quizID">Assign to one of your sections</button></h3>
       <table>
	 <tr>
	   <td>Search for tag:</td><td> <input type="text" id="reqTag" name="tag"></td><td><button type="submit"
						formaction="/assemble/?quiz=$quizID">Search </button></td>
	 </tr>
	 <tr>
	   <td>Question list:</td><td><input type="text", id="quizlist", name="quizlist", value="$qlist"></td><td>(enter ids separated by commas)</td><tr><td><button type="submit" formaction="/preview/?quiz=$quizID">Save and Preview</button></td><td></td><td></td></tr>
	  <tr>
	    
       </table>
     </form>
     <p>
       Hint: For peer instruction enter the same question twice.
     </p>
   </div>
 </topper>


$for q in qresults:
     <div class="container">
     <h3>$q.ID <a href="/edit/?ID=$q.ID">Edit</a></h3>
     <strong>Tags:</strong> $:q.tagStr
     $:q.showCorrect()
     </div>
  </body>
</html>
