$def with (stulist)
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Clear passwords</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrab, mathjax, jquery etc.   -->
    <!--          BEGIN                     -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Bootstrab, mathjax, jquery etc.   -->
    <!--          END                      -->   
  </head>
  <body>

    <div class="container">
      <h2>Click the user to clear their password.</h2>
    </div>
    
      <div class="container">

	<form method="POST">
	  <table>
	    $for i in stulist:
	         <tr><td><button type="submit" formaction="/clearPass/?user=$i"> <h3>$i</h3></button></td></tr>
	  </table>
	</form>
      </div>
    
  </body>
</html>

