$def with (mathjax,quizID,qresults,qlist)
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>$quizID</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    $:mathjax
    <link href="/static/compose.css" rel="stylesheet">

  </head>
  <body>
 <topper class = "topper">
   <div class="container">
    
     <form method="POST">
        <h3>$quizID <button type="submit" formaction="/assign/?quiz=$quizID">Assign to one of your sections</button></h3>
       <table>
	 <tr>
	   <td>Search for tag:</td><td> <input type="text" id="reqTag" name="tag"></td><td><button type="submit"
						formaction="/compose/?quiz=$quizID">Search </button></td>
	 </tr>
	 <tr>
	   <td>Question list:</td><td><input type="text", id="quizlist", name="quizlist", value="$qlist"></td><td>(enter ids separated by commas)</td><tr><td><button type="submit"
																				      formaction="/preview/?quiz=$quizID">Preview</button></td><td></td><td></td></tr>
	  <tr>
	    
       </table>
    </form>
   </div>
 </topper>


$for q in qresults:
     <div class="container">
     <h2>$q.ID</h2>
     $:q.showCorrect()
     </div>
  </body>
</html>
