$def with (pclq)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Edit $pclq.getID()</title>

    <script src="/static/edit.js"></script>
  </head>

  <body>
    
    <form method="post" id="editform">
      <table>
	<tr><td><strong>ID:</strong></td><td>
	    <input name="ID" value="$:pclq.getID()"></td><td> Don't change.
	</td></tr>
	<tr>
	  <td><strong>Tags:</strong></td>
	  <td colspan="2">
	    <textarea name="tags" cols="65" rows="1">$:pclq.getTagStr()</textarea>
	  </td>
	</tr>
	<tr><td colspan="3"><strong>Statement</strong></td></tr>
	<tr>
	  <td colspan="3"><textarea name="stmt" type="entry" rows="8" cols="70">$:pclq.getStatement()</textarea> </td>
	</tr>
      </table>

      <table>
	<tr>
	  <th> Answer Id</th><th>Answer</th><th>Correct</th>
	</tr>
	  $for i in pclq.getChoices():
	       $:pclq.writeChoiceRow(i)
      </table>
      <button type="submit" formaction="/edit/?action=save">Save</button>
      <button type="sumbit" formaction="/edit/?action=addchoice">Add answer choice</button>
      <button type="sumbit" formaction="/edit/?action=remove">Remove last answer choice
      </button>
      <button type="submit"
	      
      <button type="submit" formaction="/edit/?action=done">Done (will
      not save)</button>
      <br>
    </form>
    <!-- <form method="GET"> -->
    <!--   <button type="submit" formaction="/uploadImg/">Upload -->
    <!-- 	Image</button> -->
    <!-- </form> -->
    <button onclick="imgUpload()">Upload Image</button>
    <button onclick="preview('$:pclq.getID()')">Preview question</button>  
    <div id="multibox">
    </div>
      
 <!--   <h2>Code Snippets for images</h2>
    <table>
      <tr><th>Code for an inline image</th>
	<td>
	  <textarea cols="60"><img src='/static/images/rainbow-wolf.jpg'></textarea>
	</td>
      </tr>
      <tr><th>Code for a centered figure</th><td>
	  <textarea cols="60"><div style='text-align:center'><img src='/static/images/rainbow-wolf.jpg'></div></textarea></td></tr>
    </table> -->
    
  </body>
</html>
