$def with (name)
<!DOCTYPE html>
<html lang="en">

  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>Instructor page</title>
	  <!-- Le Bootstrap -->
	  <link rel="stylesheet" type="text/css"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	  <!--link href="/static/signin.css" rel="stylesheet"-->
	  <!-- Finished le Bootstrap-->
	  
  </head>

  <body>
    <h2>Hello $name.</h2>
    <ul>
      <li> <a href="/compose/">Compose and manage quizzes</a></li>
      <li> <a href="/manage/">Manage sections</a></li>
      <li> <a href="/sessions/">Manage sessions and conduct quiz</a></li>
      <!--li> <a href="/sessions/">Conduct quiz</a></li-->
      <li> <a href="/databases/">Access databases</a></li>
      <li> <a href="/logout">logout</a></li>
    </ul>

  </body>

