$def with (preamble,name)
<!DOCTYPE html>
<html lang="en">

  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>Instructor page</title>
	  $:preamble	  
  </head>

  <body>
    <h2>Hello $name.</h2>
    <ul>
      <li> <a href="/compose/">Compose and manage quizzes</a></li>
      <li> <a href="/manage/">Claim sections</a></li>
      <li> <a href="/sessions/">Conduct quiz</a></li>
      <!--li> <a href="/sessions/">Conduct quiz</a></li-->
      <li> <a href="/databases/">Access databases, upload images</a></li>
      <li> <a href="/logout/">logout</a></li>
      <li> <a href="/dropPass/">reset password</a></li>
    </ul>

  </body>

