$def with (preamble,msg)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Stevens Web CRS</title>
    $:preamble
    <link href="/static/signin.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">

      <form class="form-signin" action="" method="post">
	<h2 class="form-signin-heading">Stevens Web CRS</h2>
	<label for="username" class="sr-only">User Name</label>
	<input type="username" id="username" name="username" class="form-control"  placeholder="user name" required autofocus>
	<label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control"
	       placeholder="password" name="password" required>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	
      </form>  <!-- Form -->
    </div> <!-- Container -->
    <div class="container" style="text-align:center">
      $msg
    </div>
    
  </body>

