$def with (msg)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- <meta name="description" content=""> -->
    <!-- <meta name="author" content=""> -->

    <title>Clicker Signin</title>
   <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css"
	  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="/static/signin.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">

      <form class="form-signin" action="" method="post">
	<h2 class="form-signin-heading">Please sign in</h2>
	<label for="username" class="sr-only">User Name</label>
	<input type="username" id="username" name="username" class="form-control"  placeholder="user name" required autofocus>
	<label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control"
	       placeholder="password" name="password" required>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	
      </form>  <!-- Form -->
    </div> <!-- Container -->
    <div class="container" style="text-align:center">
      $msg
    </div>
    
  </body>

