$def with(bootstrap,secform)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- <meta name="description" content=""> -->
    <!-- <meta name="author" content=""> -->

    <title>Manage sections</title>
    
    $:bootstrap
    
    
  </head>

  <body>
    <div class = "container">
      <div class="row">
	<div class="col-xs-12">
	  <h2>Please (un)select your sections.</h2>
	</div>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
	<div class="col-xs-12">
	  <form action="" method="post">
	    $:secform.render()
	  </form>  <!-- Form -->
	</div>
      </div>
    </div> <!-- Container -->

  </body>

