$def with (mathjax,title,body,qnumber,state,sels)
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>$title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    $:mathjax
    
    <link href="/static/question.css" rel="stylesheet">
    <script src="/static/control.js"></script>
    <script src="/static/question.js"></script>
    
 
    <!-- Some inline javascript-->
    <script> <!-- Set up sync -->
      var page="$qnumber";
      var state="$state";
      var initstate="$state";
      syncState();
    </script>
    <!-- End of inline javascript-->

  </head>
  
  <body><!-- need the dolar colon thing!-->
    <!-- TODO add a function that sets everything to zero-->
    <div class="container">
      <h2>$title</h2>
    </div>
    $:body

    <div class ="container">
      <div class="row">
	<div class="col-xs-12">
	  <div class="status" id="message"></div>
	</div>
      </div>
    </div>
<script><!-- Synchronize with recorded answers -->
  $for i in sels:
       highlightAnsDiv("$i");
</script>

<!--div class="footer">
  <div class="container" style="padding:0px">
    <strong> <a href="/logout/">log out</a> /
      <a href="/dropPass/">reset password</a></strong>
    
  </div>
</div-->
  </body>
</html>
