$def with (mathjax,body,qnumber,state,sels)
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Question $qnumber</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    $:mathjax
    
    <link href="/static/question.css" rel="stylesheet">
    <script type="text/javascript">var state="initial"; </script>
    <script src="/static/control.js"></script>
    <script src="/static/question.js"></script>
    
 
    <!-- Some inline javascript-->
    <script> <!-- Set up sync -->
      var page="$qnumber";
      var state="$state";
      var initstate="$state";
      syncState();
    </script>
    <!-- End of inline javascript-->

  </head>
  
  <body><!-- need the dolar colon thing!-->
    <!-- TODO add a function that sets everything to zero-->
    <div class="container">
      <h2>Question</h2>
    </div>
    $:body

    <!-- Add a status div -->

    <div class="status" id="debug"></div>
    <div class="status" id="message"></div>
     <script>
       document.getElementById("debug").innerHTML=page;
       document.getElementById("message").innerHTML=state+initstate;       
     </script>
     
<script><!-- Synchronize with recorded answers -->
  $for i in sels:
       highlightAnsDiv("$i");
</script>

<div class="footer">
  <div class="container" style="padding:0px">
    <strong> <a href="/logout/">log out</a> /
      <a href="/dropPass/">reset password</a></strong>
    
  </div>
</div>
  </body>
</html>
