$def with (clkrq,colordic,tally)


<!-- Problem statement -->

<div class="container">
  <div class="row">
    <div class="col-xs-12"><!--Question Statement-->
      $clkrq.getQuestion()
    </div>
  </div>
<!--/div-->

<!-- Answer choices-->

  <div class="row">
    <form>
      $for ans in clkrq.getChoiceDict():
           <div class="container"><div class="rounded col-sm-12" id="box$ans" style="background-color: $colordic[ans]"> $:clkrq.getChoiceDict()[ans]<strong>$tally[ans]%</strong></div></div>


      </div>
    </form>
    
  </div>
</div>
