$def with (clkrq,tally)


<!-- Problem statement -->

<div class="container">
  <div class="row">
    <div class="col-xs-12"><!--Question Statement-->
      $:clkrq.getQuestion()
    </div>
  </div>
<!--/div-->

<!-- Answer choices-->

  <div class="row">
    <!--form-->
      $for ans in clkrq.getChoices():
           <div class="container"><div class="rounded col-sm-6"
           id="box$ans">
           $:clkrq.getChoiceDict()[ans] <div style="float:right;display:inline">$tally[ans]%</div></div></div>


      </div>
  <div class="row">
    Total responses: $tally["Total responses"]
  </div>
  <!--/form-->
    
  </div>
</div>
