<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>No Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    

  </head>
  
  <body><!-- need the dolar colon thing!-->
    <div class="container" align="center"> 
      <h2>You are not assigned any quizzes at this time.</h2>
      <h2><a href="/logout/">Delete login
	  cookies</a>/<a href="/dropPass/">Reset Password</a></h2>
      Hint: If you don't want to have to re-enter your password next
	  time, just close this window.
    </div>
  </body>
</html>
