$def with (bootstrap,item)
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>$item upload page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    $:bootstrap
    
  </head>
  
  <body><!-- need the dolar colon thing!-->
    <div class="container"><h1>$item upload</h1>
      Warning: make sure the file you are uploading is well formed;
      there is nothing to check that everything is in order. The
      existing data will be overwritten.
    </div>
    <div class="container">
     <form method="POST" enctype="multipart/form-data" action="/upload/$item">
       <input type="file" name="upfile" />
       <br/>
       <input type="submit" />
     </form>
    </div>
  </body>
</html>
